
.poster {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 761px;
    max-height: 471px;
}

.infosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description{ 
    padding-right: 30px;
}

.container {
    width: 1100px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    background-color: moccasin;
    padding: 10px;
  }

  .stars span {
    color: rgb(180, 180, 180);
    user-select: none;
    cursor: pointer;
    font-size: 15px;
  }
  
  .stars .filled {
    color: black;
  }