
.myImage {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 300px;
    max-height: 400px;
}

.infosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myElem {
    user-select: none;
    cursor: pointer;
}

.description{ 
    padding-right: 30px;
}

.container {
    background: tan;
    display: flex;
    flex-direction: row;
}